.DS_Store
__pycache__
.venv
.git
*.parquet
*.xls
.pytest_cache
.coverage

minio-data
[docker]conf/minio-data/gold/all_indicator.csv/xl.meta

eda_outputs/hist_\[age_moyen*
eda_outputs/hist_\[Auxiliaires*
eda_outputs/hist_\[categorie_professionnelle*
eda_outputs/hist_\[compte_publique*
eda_outputs/hist_\[delinquance*
eda_outputs/hist_\[Dentistes*
eda_outputs/hist_\[equipement_sportif*
eda_outputs/hist_\[etablissement_culturel*
eda_outputs/hist_\[Généralistes*
eda_outputs/hist_\[Laboratoires*
eda_outputs/hist_\[niveau_etude*
eda_outputs/hist_\[Laboratoires*
eda_outputs/hist_\[niveau_etude*
eda_outputs/hist_\[Laboratoires*
eda_outputs/hist_\[niveau_etude*
eda_outputs/hist_\[pouvoir_achat*
eda_outputs/hist_\[Sages*
eda_outputs/hist_\[Spécialistes*
eda_outputs/hist_annee*

eda_outputs/time_\[age_moyen*
eda_outputs/time_\[Auxiliaires*
eda_outputs/time_\[categorie_professionnelle*
eda_outputs/time_\[compte_publique*
eda_outputs/time_\[delinquance*
eda_outputs/time_\[Dentistes*
eda_outputs/time_\[equipement_sportif*
eda_outputs/time_\[etablissement_culturel*
eda_outputs/time_\[Généralistes*
eda_outputs/time_\[Laboratoires*
eda_outputs/time_\[niveau_etude*
eda_outputs/time_\[Laboratoires*
eda_outputs/time_\[niveau_etude*
eda_outputs/time_\[Laboratoires*
eda_outputs/time_\[niveau_etude*
eda_outputs/time_\[pouvoir_achat*
eda_outputs/time_\[Sages*
eda_outputs/time_\[Spécialistes*
eda_outputs/time_annee*

eda_outputs/spatial_\[age_moyen*
eda_outputs/spatial_\[Auxiliaires*
eda_outputs/spatial_\[categorie_professionnelle*
eda_outputs/spatial_\[compte_publique*
eda_outputs/spatial_\[delinquance*
eda_outputs/spatial_\[Dentistes*
eda_outputs/spatial_\[equipement_sportif*
eda_outputs/spatial_\[etablissement_culturel*
eda_outputs/spatial_\[Généralistes*
eda_outputs/spatial_\[Laboratoires*
eda_outputs/spatial_\[niveau_etude*
eda_outputs/spatial_\[Laboratoires*
eda_outputs/spatial_\[niveau_etude*
eda_outputs/spatial_\[Laboratoires*
eda_outputs/spatial_\[niveau_etude*
eda_outputs/spatial_\[pouvoir_achat*
eda_outputs/spatial_\[Sages*
eda_outputs/spatial_\[Spécialistes*
eda_outputs/spatial_annee*